@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: "rajan";
    src: url('/teslaclone/public/fonts/gothamssm_medium.otf') format('opentype');
}

body{
    font-family: "rajan";
}
